@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

p, a, li, h1, h2, h3, footer, cite{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 2em;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*HEADER*/
.accueil header .bg {
  height: 100vh;
  background-image: url("asset/images/alaska.jpg");
}

.accueil nav{
    background-image: none;
    box-shadow: none;
}

.accueil nav.effect{
    background-image: linear-gradient(-6deg, #FFFEFF 0%, #D7FFFE 100%);
    box-shadow: 0px 0px 2px #507096;
}

.global header nav {
  box-shadow: 0px 0px 2px #507096;
  background-image: linear-gradient(-6deg, #FFFEFF 0%, #D7FFFE 100%);
  
}

header {
  position: relative;
}
header nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header nav ul .hamburger {
  display: none;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color:#000;
}

.logo {
  transition: all 100ms linear;
  position: relative;
  top: 0;
  height: 100px;
}

nav .logo img {
  max-width: 100%;
  height: 100px;
}

/*SECTION*/

.accueil section{
  grid-template-columns: repeat(3,1fr);
  display: grid;
}
.accueil section article{
  grid-column-start: 2;
}

section {
  margin-top: 154px;
  flex-grow: 1;
}
section .autor-content {
  background-image: url("asset/images/jean-forteroche.jpg");
  background-size: cover;
  background-position: 0 -244px;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}
section .autor-content .about {
  width: 50%;
  right: 0;
  top: 13%;
  position: absolute;
}
section blockquote {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-right: 70px;
  box-shadow: 1px 1px 9px #000;
  border:0;
}
section blockquote p {
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
section blockquote p:before {
  content: "“";
  font-size: 26px;
}
section blockquote p:after {
  content: "”";
  font-size: 26px;
}
section blockquote footer {
  color: #fff;
  text-align: center;
}
section .blog-about {
  width: 50%;
  margin: 50px auto 0 auto;
  padding: 20px;
  background-image: linear-gradient(to top, #476175 0%, #517fa4 100%);
}
section .blog-about h1, section .blog-about p {
  color: #fff;
}
section .blog-about h1 {
  text-align: center;
  font-size: 22px;
}
section .blog-about p {
  font-size: 20px;
}
section .blog-about p:last-child {
  text-align: center;
  margin-top: 50px;
}
section .blog-about p:last-child a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.9s ease;
}
section .blog-about p:last-child a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #c3e3ef;
  transition: transform 0.5s ease-in;
  transform: scaleX(0);
  transform-origin: top;
}
section .blog-about p:last-child a:hover:before {
  transform: scaleX(1);
}
section .blog-about p:last-child a:hover {
  color: #284052;
}

/*BLOG*/

.blog section{
  padding: 0 50px;
}

.blog section article{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) );
  grid-gap: 30px;
}
 figure{
  margin:0;
  position: relative;
}

 figure img{
  width: 100%;
  height: 100%;
}

 figure:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.4);
  transition: background-color 0.3s ease-in-out;
}

 div.box-content:hover figure:before{
  background-color:transparent;
}

 div.box-content{
  border:1px solid #000;
}

 div.box-content h1, div.box-content .date{
  text-align: center;
}

 div.box-content .resumeArticle{
  padding: 20px;
}

.see-more{
  text-align: center;
}


/*Article*/
.article p, .article h1, .article div.pagination {
  color: #000;
}

/*FORM*/
.contact form {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form div {
  display: flex;
  flex-direction: column;
  width: 36%;
}
