@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

p, a, li, h2, h3, footer, cite{
  font-family: 'Lato', sans-serif;
}

strong{
  font-weight:700;
}

span.error{
  color:#CE1111;
}

.btn, .btn-large, .btn-small{
  background-color: #35a4c0;
}

h1,h2.articleTitle{
  font-size: 2em;
  font-family: 'Marck Script', cursive;
}

h1,h2,h3{
  text-align: center;
}

h1 {
  font-size: 50px;
  color:#33a3be;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*HEADER*/

#header_icon{
  display: none;
}

.accueil header .bg {
  height: 100vh;
  background-image: url("asset/images/alaska.jpg");
  background-repeat: no-repeat;
  background-size: cover;;
}

.bg p{display: none;}

.accueil nav{
    background-image: none;
    box-shadow: none;
}

.accueil nav.effect, .global header nav{
    background: linear-gradient(to left, #2193b0, #6dd5ed);
    box-shadow: 0px 0px 2px #507096;
}

.accueil nav.effect li a{
  text-shadow: none;
  color:#fff;
}

.accueil li a{
  color:#fff;
  text-shadow: 0 0 4px #000;
}

header {
  position: relative;
  overflow: hidden;
}
header nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header nav ul .hamburger {
  display: none;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color:#fff;
  letter-spacing:2px;
}

.logo {
  transition: all 100ms linear;
  position: relative;
  top: 0;
  height: 100px;
}

nav .logo img {
  max-width: 100%;
  height: 100px;
}

/*HOMEPAGE*/

.accueil section{
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.accueil .bg{
  transform: scale(1);
  transition: transform 14s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil .bg p{
  font-size: 7rem;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  color: #FFF;
  font-family: 'Marck Script', cursive;
  opacity: 0;
  display: block;
  transition: opacity 4s ease;
}

.accueil section article:first-child{
  margin-bottom: 100px;
}

.accueil section article strong{
  font-weight: 700;
}

.accueil section div.container{
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  display: grid;
  grid-gap: 20px;
}

.accueil .presentation h1{
  margin-bottom: 70px;
}

.accueil .presentation .little-presentation img{
  max-width: 100%;
  height: 340px;
  box-shadow: 0 0 3px #000;
}

.accueil .presentation .little-presentation{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.accueil .presentation .little-presentation figcaption{
  width: 100%;
  text-align: center;
}

.accueil .presentation .little-presentation figcaption h2{
  display: inline-block;
  border-bottom: 2px solid #40aec9;
}

.accueil .presentation .little-presentation figcaption p:not(.see-more){
  font-size: 23px;
  margin-top: 0;
}

.accueil .presentation p.button{
  text-align: center;
}

.accueil .bg-content{
  height: 400px;
  background-image: url("asset/images/mountain-tree.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil .bg-content p{
  font-size: 30px;
  color: #FFF;
  text-shadow: 1px 1px 21px #44b1cc;
}

/*ABOUT*/

section {
  margin-top: 130px;
  flex-grow: 1;
}
.about section .autor-content {
  background-image: url("asset/images/jean-forteroche.jpg");
  background-size: cover;
  background-position: 0 -244px;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}
.about section .autor-content .about {
  width: 50%;
  right: 0;
  top: 13%;
  position: absolute;
}
.about section blockquote {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-right: 70px;
  box-shadow: 1px 1px 9px #000;
  border:0;
}
.about section blockquote p {
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.about section blockquote p:before {
  content: "“";
  font-size: 26px;
}
.about section blockquote p:after {
  content: "”";
  font-size: 26px;
}
.about section blockquote footer {
  color: #fff;
  text-align: center;
}
 section .blog-about {
  width: 50%;
  margin: 50px auto 0 auto;
  padding: 20px;
  border:12px double #64cde6;
}
section .blog-about h1, section .blog-about p {
  color: #000;
}
section .blog-about h1 {
  text-align: center;
  font-size: 62px;
}
section .blog-about p {
  font-size: 20px;
}
section .blog-about p:last-child {
  text-align: center;
  margin-top: 50px;
}
section .blog-about p:last-child a {
  text-decoration: none;
  color: #000;
  padding: 15px;
  border: 1px solid #000;
  position: relative;
  z-index: 1;
  transition: color 0.9s ease;
}
section .blog-about p:last-child a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #c3e3ef;
  transition: transform 0.5s ease-in;
  transform: scaleX(0);
  transform-origin: top;
}
section .blog-about p:last-child a:hover:before {
  transform: scaleX(1);
}
section .blog-about p:last-child a:hover {
  color: #284052;
}

/*BLOG*/

.blog section{
  padding: 0 50px;
}

.blog section article{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
  grid-gap: 30px;
}
 figure.cover_article{
  margin:0;
  position: relative;
}

 figure.cover_article img{
  max-width: 100%;
  height: auto;
}

 figure.cover_article:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 99%;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.4);
  transition: background-color 0.3s ease-in-out;
}

 div.box-content:hover figure.cover_article:before{
  background-color:transparent;
}

 div.box-content{
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  transition: 0.2s;
}

div.box-content:hover{
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
  transform:translateY(-0.5%)
}

 div.box-content h2, div.box-content .date{
  text-align: center;
}

 div.box-content .resumeArticle{
  padding: 20px;
}

div.box-content .resumeArticle p{
  padding: 0;
  margin:0;
  text-align: justify;
}

.see-more{
  text-align: center;
}


/*Article*/

.global.article{
  padding: 0 30px;
}

.article p{
  color: #000;
}

.global.article h1 {
  font-size: 3.2em;
}

.global.article article .box-article{
  border-bottom: 1px solid #d3d3d3;
}

.global.article article .createAt{
    font-style: italic;
    font-size: 15px;
    margin-top: 0;
}
.global.article article .authorComment{
  font-size: 20px;
  color: #2294b1;
  font-weight: 700;
}

.global.article article .authorComment .dateComm{
  font-size: 15px;
  color: #406067;
  text-decoration: underline;
  font-weight: 400;
}

.global.article article .authorComment .report{
  float: right;
}

.global.article article .box-comments{
  padding: 0 20px 20px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.global.article article .box-comments:hover{
  background-color: #d8edf3;
}

.global.article article .box-comments:not(:last-child){
  border-bottom: 1px solid #406067
}

.global.article .signaler:hover{
  color:#CE1111;
  transition: 0.2s;
}
.open,.modal .modal-footer{
  background: linear-gradient(to left, #2193b0, #6dd5ed);
}

.modal .modal-footer{
  display: flex;
  justify-content: center;
}

.modal .modal-footer a{
  color: #FFF;
  transition: 0.2s;
}

.modal p{
  color: #000;
}

.modal .modal-content{
  white-space: normal;
}

.modal .modal-footer a:first-child:hover{
  background: #009c13;
}

.modal .modal-footer a:last-child:hover{
  background: #CE1111;
}

.modal h4{
  font-size:2rem;
  color:#FFF;
}

.global.article .pagination p{text-align: right;}

.global.article .page{
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #5fc9e2;
  transition: 0.2s;
}

.global.article .page:hover, .global.article .current{
  color: #FFF;
  background-color:#5fc9e2;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4)
}

/*FORM*/

.global.article form{
  border: 1px solid #2395b2;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.global.article form h2{
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(to left, #2193b0, #6dd5ed);
    color:#FFF;
    padding: 10px;
}

.global.article form .input-field, .global.article form .input-field label{
  padding: 0 30px;
}

.global.article form div.button{
  text-align: center;
  padding-bottom: 20px;
}

.contact h1{
  text-align: center;
}

.contact form {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form div {
  display: flex;
  flex-direction: column;
  width: 36%;
}

/*FOOTER*/

footer p{
  text-align: center;
}

/*QUERIES*/

@media screen and (max-width: 1024px){
  .accueil header .bg{transform:scale(1) !important}
  .accueil .bg p{opacity: 1 !important;font-size: 4rem;}
  .contact form div{width:80%}
  .about section .autor-content{background-position: 0 -84px;}
  section .blog-about{width:100%;}
}

@media screen and (max-width: 768px){
  .accueil .bg-content p{font-size: 22px;}
  .accueil .presentation h1{margin-bottom: 30px;}
  .about section .autor-content .about{width: 60%;}
  section .blog-about{margin:0}
}

@media screen and (max-width: 640px){

  .accueil header .bg{
    height: 50vh;
  }

  .accueil .bg-content p{
    font-size: 19px;
  }

  header nav.effect{
    height: 50px;
    background: linear-gradient(to left, rgba(33, 147, 176, 0.82), rgba(109, 213, 237, 0.88))
  }

  header nav ul{
    display: none;
  }

  header nav ul.actif{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    background: linear-gradient(to left, rgba(33, 147, 176, 0.82), rgba(109, 213, 237, 0.88))
  }

  header nav ul.actif li a{
    font-weight: 700;
    font-size:22px;
  }

 #header_icon{
    position:relative;
    cursor:pointer;
    height:100%;
    width:26px;
    display:block;
    margin-left: auto;
    z-index: 99;
  }

  header nav.effect #header_icon{
    transform: translate(-30px, 18px);
  }

  header nav #header_icon{
    transform: translate(-30px, 60px);
  }

  #header_icon .line{
    width:25px;
    height:3px;
    background:#000;
    position:absolute;
    filter: invert(1);
    transform:rotate(0deg);
    transition:transform 0.5s ease
  }
   #header_icon .line:first-child{top:0}
   #header_icon .line:nth-child(2){top:8px}
   #header_icon .line:nth-child(3){top:16px}
  
   #header_icon .line.actif{
    top:8px;
    
  }
   #header_icon .line.actif:nth-child(2){
    opacity:0;
  }
   #header_icon .line.actif:first-child{
    transform:rotate(45deg)
  }
   #header_icon .line.actif:last-child{
    transform:rotate(-45deg)
  }

  .accueil .presentation .little-presentation figcaption p:not(.see-more){
    font-size:20px;
  }

  .accueil .presentation .little-presentation figcaption h2{
    font-size:30px;
  }

  .global.article form{
    width:100%;
  }

  .about section .autor-content{
    height: 380px;
  }

  section{margin-top: 110px;}
}

@media screen and (max-width: 540px){
  .accueil .bg-content p{font-size:17px;}
  .about section .autor-content {height: 270px;}
  .about section .autor-content .about{width: 100%;bottom:0;top: auto;height:100%}
  .about section blockquote{width: 100%;height:100%}
  section .blog-about{margin-top: 20px;}

}

@media screen and (max-width: 480px){
  .accueil .bg-content{display: none;}
  .accueil section article:first-child{
    margin-bottom: 0;
  }
  .accueil .bg p{font-size: 3rem;}
  .about section .autor-content{height:236px}
}

@media screen and (max-width: 380px){
  .accueil .presentation .little-presentation img{
    height: 220px;
  }
  h1{font-size:35px}

  .accueil .bg p{font-size: 2.5rem;}
  .about section .autor-content{background-position: 0;}
}


