{% extends "admin/templateAdmin.html.twig" %}

{% block title %}<title>Modification de l'article</title>{% endblock %}

{% block body %}<body class ="update cu">{% endblock %}

{% block content %}
<p class="back"><a href="/admin/auth" title="retour"><i class="medium material-icons right">subdirectory_arrow_left</i></a></p>

<h1>Modification de l'article : {{article.title}}</h1>

<form method="POST" enctype="multipart/form-data">
<div class="title name input-field">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" class="validate" autofocus>
</div>
<div class="wysiwyg" id="content"></div>

<div class="file-field input-field">
        <div class="btn  tooltipped" data-position="bottom" data-tooltip="Max 1Mo">
          <span>File</span>
          <input type="file" name="image_article">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" name="path_img">
        </div>
</div>

<div class="button">
        <button type="submit"  class="waves-effect waves-light btn">Mettre à jour
                <i class="material-icons right">send</i>
        </button>
</div>
{% if errors.allEmpty is defined %}
<span class="errors">{{errors.allEmpty}}</span>
{% endif %}

</form>

{% endblock %}