{% extends "template.html.twig" %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}
    <body class="accueil">
{% endblock %}

{% block content %}
    <div class="box-content">
    {% if array %}
    {% for lastArticle in array %}
        <h1> {{lastArticle.title}}</h1>
        <p> <span> {{lastArticle.date_article}} </span> </p>
        <p> {{lastArticle.content}} </p>
    </div>
    <p><a href="#">Voir plus</a></p>
    {% endfor %}
    {% endif %}
   

{% endblock %}

