<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/asset/images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">



    {% block title %} {% endblock %}
</head>
{% block body %} {% endblock %}
    <header>
        <nav>
            <div id="header_icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
            </div>
            <div class="logo"><img src="/asset/images/logo.png" alt="logo jean forteroche"></div>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/about">A propos de l'auteur</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav> 
        <div class="bg"><p>Un billet pour l'Alaska</p></div>            
    </header>
    <section>
        {% block pageTitle %} {% endblock %}
        <article>
            {% block content %} {% endblock %}
        </article>
        <article>
                {% block Morecontent %} {% endblock %}
        </article>
    </section>
    <footer>
    <p>2019 - Jean Forteroche</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/asset/js/main.js"></script>
</body>
</html>