{% extends "template.html.twig" %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block body %}
    <body class="global blog">
{% endblock %}

{% block pageTitle %}
        <h1>Blog</h1>
{% endblock %}

{% block content %}
    
        {% if allArticles %}
            {% for articles in allArticles %}
                <div class="box-content">
                    <figure class="cover_article"><img src="https://loremflickr.com/320/240"></figure>
                    <h1>{{ articles.title }}</h1>
                    <p class ="date">{{ articles.date_article }}</p>
                    <p class = "resumeArticle"> {{ articles.content | truncate }} </p>
                    <p class="see-more"><a class="waves-effect waves-light btn" href="blog/chapitre/{{ articles.id_article }}">Voir plus</a></p>
                </div>
                
            {% endfor %}
        {% endif %}
    

{% endblock %}
